<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Satoshi-MediumItalic.otf</string>
		<string>Satoshi-Bold.otf</string>
		<string>Satoshi-LightItalic.otf</string>
		<string>Satoshi-BoldItalic.otf</string>
		<string>Satoshi-Regular.otf</string>
		<string>Satoshi-Light.otf</string>
		<string>Satoshi-Italic.otf</string>
		<string>Satoshi-BlackItalic.otf</string>
		<string>Satoshi-Black.otf</string>
		<string>Satoshi-Medium.otf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Logo</string>
	</dict>
</dict>
</plist>
